<div class="container-fluid">
  <div class="row my-5">
    <div class="col-0 col-sm-0  col-md-0 col-lg-2 col-xl-3">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 p-3" id="resume-data" >
    {% if userData is defined and userData|length > 0 and userData.data.repositoryOwner %}
      {% for user in userData  %}
        <div class="container-fluid">
          <div class="row mt-4">
            <div class="col-12 col-md-9 ">
              <h1>
                <span class="vcard-fullname d-block">{{ user.repositoryOwner.name }}</span>
                <span class="vcard-nickname d-block">{{ user.repositoryOwner.login }}</span>
                <span class="vcard-nickname d-block">On GitHub since {{ user.repositoryOwner.createdAt|date("Y") }}</span>
              </h1>

              <ul class="list-group mt-4 mb-3">
                {% if user.repositoryOwner.bio  %}
                  <li class="list-group-item  justify-content-between align-items-center"> Bio: {{ user.repositoryOwner.bio }}</li>
                {% endif %}
                {% if user.repositoryOwner.websiteUrl  %}
                  <li class="list-group-item  justify-content-between align-items-center"> Website: <a href="{{ user.repositoryOwner.websiteUrl }}" target="_blank">{{ user.repositoryOwner.websiteUrl }}</a> </li>
                {% endif %}
                {% if user.repositoryOwner.email  %}
                  <li class="list-group-item  justify-content-between align-items-center"> Email: {{ user.repositoryOwner.email }} </li>
                {% endif %}
                {% if user.repositoryOwner.location %}
                  <li class="list-group-item justify-content-between align-items-center"> Location: {{ user.repositoryOwner.location }} </li>
                {% endif %}
                <li class="list-group-item  justify-content-between align-items-center"> Repositories: <span class="badge badge-primary badge-pill">{{ user.repositoryOwner.repositories.totalCount }}</span></li>
                <li class="list-group-item  justify-content-between align-items-center"> Followers: <span class="badge badge-primary badge-pill">{{ user.repositoryOwner.followers.totalCount }}</span></li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <img src="{{ user.repositoryOwner.avatarUrl }}" id="user-avatar">
            </div>
          </div>
        </div>

        {% if languages %}
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr>
              {% for lang, value in languages %}
                <td>{{ lang }} {{  value }}% </td>
              {% endfor %}
              </tr>
              </tbody>
            </table>
          </div>
        {% endif %}

      <div class="table-responsive">
        <table class="table">
          <tbody>
        {% for repository in user.repositoryOwner.repositories.edges  %}
        <tr>
          <td>
            <ul>
              <li class="list-group-item justify-content-between align-items-center">{{ repository.node.createdAt|date('m/Y') }}</li>
              <li class="list-group-item justify-content-between align-items-center">{{ repository.node.name }}</li>
              <li class="list-group-item justify-content-between align-items-center"><a href="{{ repository.node.url }}" target="_blank">{{ repository.node.url }}</a></li>
              {% if repository.node.description %}
                <li class="list-group-item justify-content-between align-items-center"> {{ repository.node.description }} </li>
              {% endif %}
              {% if repository.node.primaryLanguage %}
                <li class="list-group-item justify-content-between align-items-center"> {{  repository.node.primaryLanguage.name }} </li>
              {% endif %}
            </ul>
          </td>
        </tr>
        {% endfor %}

          </tbody>
        </table>
      </div>
      {% endfor %}
     {% else %}
      <p class="text-center">Sorry, the user doesn't exist, try other name.</p>
    {% endif %}
    </div>
  </div>
</div>
