
{{ form_start(form, {'action':  path('landing_page'), 'attr': {'novalidate': 'novalidate' }}) }}
{{ form_row(form.name, {'label': ' ', 'attr': {'placeholder': 'enter you github name'}}) }}
<div class="mt-4">
  {{ form_row(form.generate, {'attr': {'class': 'btn btn-info'}}) }}
</div>
{{ form_end(form) }}