{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-5 text-center">
            <div class="col-1  col-md-3 col-lg-4 col-xl-5">
            </div>
            <div class="col-10 col-md-6 col-lg-4 col-xl-2">

                <h1>Github Resume</h1>

            </div>
        </div>
        <div class="row mt-3 text-center">
            <div class="col-1  col-md-3 col-lg-4 col-xl-5">
            </div>
            <div class="col-10 col-md-6 col-lg-4 col-xl-2">

                {% include 'landing_page/_search.html.twig'   %}

            </div>
        </div>
    </div>

    {# this will be filled with user data from ajax response #}
    <div id="resume-container"></div>

{% include '_spinner.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

