html {
    height: 100%;
}

body {
    background-image: url("/images/background.jpg");
}

#search_name{
    width: 100%;
    padding:5px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}

input:focus{
    outline: none;
}

#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#spinner-container {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}

#resume-data {
    background: white;
    border: 1px solid grey;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#user-avatar {
 width:100%;
}

.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
}

.vcard-nickname {
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.list-group-item {
    border: none;
    padding: 5px;
}